  <%= link_to building_room_path(hall,room) do %>
  <div class="panel panel-default">
    <div class="panel-body">
    <center>
  	<%= room.name %>
    <span class="badge"><%= room.capacity %></span>
      &nbsp; Seats
  	<% if room.available? %>
  		Room is available until <%= room.next_timing %>
  	<% else %>
  		Room closed until <%= room.next_timing %>
  	<% end %>
  	</center>
  	</div>
  </div>
  <% end %>