<title> Grabspace </title>
<div id="topnav">
<p id="navtext">Grabspace</p>
</div>

  <%- unless @lat_lng %>
    <p>Geolocation not set, displaying all results</p>
    <script>
      function getGeoLocation() {
        navigator.geolocation.getCurrentPosition(setGeoCookie);
      }

      function setGeoCookie(position) {
        var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
        document.cookie = "lat_lng=" + escape(cookie_val);
        location.reload();
      }
      getGeoLocation();
    </script>
    <% else %>
      <p>Displaying buildings closest to you</p>
  <%- end %>


<% @buildings.each do |building| %>
  <%= link_to building_path(building) do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= building.id %>
      <strong><%= building.name %></strong>
      <span class="badge" id="availability"><%= availcount(building.id) %></span>
      &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;rooms available
    </div>
  </div>
  <% end %>
<% end %>

<%= @lat_lng %>
<%= Time.now.strftime("%k%M zone %z") %>