
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_KEY'] %>&sensor=true">
</script>


 <div class="map-container">
   <div id="map-canvas"/>
</div>
<p align="center">
  <strong>Building:</strong>
  <%= @hall.name %>
</p>
 

<%= render partial: "room", collection: @rooms, locals: {hall: @hall} %>

<script type="text/javascript">
  var ready;
  ready = function() {
    var myLatlng = new google.maps.LatLng(<%= @hall.lat %>,<%= @hall.lng %>);
    var mapOptions = {
      zoom: 17,
      center: myLatlng
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
    });
  };
  $(document).ready(ready);
  $(document).on('page:change', ready);
</script>