<title> Grabspace </title>
<div id="topnav">
<p id="navtext">Grabspace</p>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&sensor=true">
</script>
<script type="text/javascript">
      function initialize() {
       
      var myLatlng = new google.maps.LatLng(<%= @hall.lat %>,<%= @hall.lng %>);
      var mapOptions = {
      zoom: 17,
      center: myLatlng
      }
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

 <div class="map-container">
   <div id="map-canvas"/>
</div>
<p>
  <strong>Building:</strong>
  <%= @hall.name %>
</p>
 
<p>
  <strong>Rooms:</strong><br>
  <table>
  <tr>
  	<td> Room ID</td>
  	<td> Room No.</td>
  	<td> Capacity</td>
  </tr>	
  <% @rooms.each do |room| %>
  	<tr>
  	<td><%= room.id %></td>
  	<td><%= link_to room.name, building_room_path(@hall,room) %></td>
  	<td><%= room.capacity %></td>
  	<td><%= rm_free(room.id) %></td>
  	</tr>
  <% end %>
</p>