<title> Grabspace </title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div id="topnav">
<p id="navtext">Grabspace</p>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&sensor=true">
</script>


 <div class="map-container">
   <div id="map-canvas"/>
</div>
<p align="center">
  <strong>Building:</strong>
  <%= @hall.name %>
</p>
 

  <% @rooms.each do |room| %>
  <%= link to building_room_path(@hall,room) do %>
  <div class="panel panel-default">
    <div class="panel-body">
    <center>
  	<%= room.name %>
	<%= room.capacity %> seats
  	<% if room.available? %>
  		Room is available until <%= room.next_timing %>
  	<% else %>
  		Room closed until <%= room.next_timing %>
  	<% end %>
  	</center>
  	</div>
  </div>
  <% end %>
  <% end %>

<script type="text/javascript" data-turbolinks-eval="false">
      function initialize() {
       
      var myLatlng = new google.maps.LatLng(<%= @hall.lat %>,<%= @hall.lng %>);
      var mapOptions = {
      zoom: 17,
      center: myLatlng
      }
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'page:load', initialize);

</script>