
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&sensor=true">
</script>


 <div class="map-container">
   <div id="map-canvas"/>
</div>
<p align="center">
  <strong>Room: </strong>
   <%= @room.name %> - <%= @hall.name %> 
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if @room.available? %>
  		Room is available until <%= @room.next_timing %>
  	  <% else %>
  		Room closed until <%= @room.next_timing %>
  	  <% end %>
  	</h3>
  </div>
  <div class="panel-body">
    <center>
	  Capacity : <span class="badge"><%= @room.capacity %></span>
      &nbsp; Seats 
	<div class="well well-sm">
	  Events : <%= @events %>
	</div>
  	</center>
  </div>
</div>

<script type="text/javascript" data-turbolinks-eval="false">
      function initialize() {
       
      var myLatlng = new google.maps.LatLng(<%= @hall.lat %>,<%= @hall.lng %>);
      var mapOptions = {
      zoom: 17,
      center: myLatlng
      }
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'page:load', initialize);

</script>